In [1]:
import nsfg

In [2]:
df = nsfg.ReadFemPreg()

In [3]:
df.head(10)

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875
5,6,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4870.926435,5325.196999,8874.440799,1,23,NaN,8.5625
6,6,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4870.926435,5325.196999,8874.440799,1,23,NaN,9.5625
7,6,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,4870.926435,5325.196999,8874.440799,1,23,NaN,8.3750
8,7,1,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,3409.579565,3787.539000,6911.879921,2,14,NaN,7.5625
9,7,2,NaN,NaN,NaN,NaN,5.0,NaN,1.0,NaN,...,0,0,0,3409.579565,3787.539000,6911.879921,2,14,NaN,6.6250

In [4]:
df['agepreg']

0        33.16
1        39.25
2        14.33
3        17.83
4        18.33
5        27.00
6        28.83
7        30.16
8        28.08
9        32.33
10       25.75
11       23.00
12       24.58
13       29.83
14       27.50
15       28.33
16       30.33
17       18.91
18       27.83
19       27.91
20       30.58
21       18.91
22       27.08
23       22.25
24       25.75
25       29.41
26       32.66
27       18.83
28       20.83
29       21.66
         ...
13563    21.08
13564    23.33
13565    20.25
13566    32.66
13567    16.75
13568    23.83
13569    18.00
13570    24.41
13571    27.83
13572    33.16
13573    22.25
13574    24.41
13575    18.83
13576    31.66
13577      NaN
13578    24.00
13579    25.91
13580    28.25
13581    30.66
13582    33.25
13583    23.66
13584    26.91
13585    21.41
13586    22.41
13587    23.41
13588    17.91
13589    18.50
13590    19.75
13591    21.58
13592    21.58
Name: agepreg, dtype: float64

In [6]:
df.outcome.value_counts()

1    9148
4    1921
2    1862
6     352
5     190
3     120
Name: outcome, dtype: int64